ANTHROPIC_API_KEY = "sasakskaldksaldkasldk"

##peça a anthropic key ao dono do projeto

# Configurações do WhatsApp (Selenium)
# Não precisa configurar nada aqui - a autenticação é via QR Code no navegador